Checks:  
  bugprone-implicit-widening-of-multiplication-result,
  bugprone-narrowing-conversions,
  bugprone-sizeof-*,
  bugprone-suspicious-*,
  bugprone-use-after-move,
  clang-*,
  cppcoreguidelines-*,
  google-runtime-int,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-unnecessary-copy-initialization,
  portability-*,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-implicit-bool-conversion,
  readability-redundant-*,
  readability-simplify-*,
  readability-static-*